// colors
$buttonColor: #3a5aff;

// fonts

$fontFamilyCursive: 'Vibur', cursive;
$fontFamilyNorm: 'Montserrat', normal;

body {
  margin: 0;
}

.logo {
  position: absolute;
  width: 120px;
  height: 78px;
  left: 20px;
  top: 32px;

  background: url(../assets/kids_1.png);
  border-radius: 50px;
}

#title {
  position: absolute;
  width: 351px;
  height: 51px;
  left: 163px;
  top: 42px;

  font-family: $fontFamilyCursive;
  font-weight: normal;
}

.intro {
  position: absolute;
  width: 522px;
  height: 188px;
  left: 140px;
  top: 180px;

  font-family: $fontFamilyNorm;
  font-weight: 800;
  font-size: 74px;
  line-height: 90px;

  color: #2f281e;
}

.intro-2 {
  position: absolute;
  width: 476px;
  height: 62px;
  left: 140px;
  top: 403px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 45px;

  color: #544837;
}

#btn {
  position: absolute;
  width: 110px;
  height: 56px;
  left: 89.93%;
  right: 2.21%;
  top: 6.14%;
  bottom: 86.61%;

  background: $buttonColor;
  border-radius: 3px;

  font-family: $fontFamilyNorm;
}

#btn-sgnup {
  position: absolute;
  width: 255px;
  height: 56px;
  left: 140px;
  top: 550px;

  font-family: $fontFamilyNorm;

  background-color: $buttonColor;
  border-radius: 3px;
}

.teacher {
  position: absolute;
  width: 435px;
  height: 469px;
  left: 865px;
  top: 152px;

  background: url(../assets/cartoon-teacher_1.png);
  mix-blend-mode: normal;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 20%;
  top: 20%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  // overflow: auto; /* Enable scroll if needed */
  // background-color: rgb(0, 0, 0); /* Fallback color */
  // background-color: rgba(58, 90, 255, 0.9); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: rgba(58, 90, 255);
  margin: 15% auto; /* 15% from the top and centered */
  padding: 25px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 50%; //  /* Could be more or less, depending on screen size */
}

/* The Close Button */
#close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #fcde63;
  text-decoration: none;
  cursor: pointer;
}

@mixin button {
  margin: 0 auto;
  width: 110px;
  height: 24px;
}

.log-button {
  @include button;
}
